.contenedor {
    background: rgb(244, 244, 244);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 721px;
}

.contenido {
    text-align: center;
    width: 19%;
    padding: 3em;
}

#buscador {
    margin-bottom: 20px;
}

#card {
    padding: 2em;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.89);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    backdrop-filter: blur(2px);
    border-radius: 25px;
    border: 1px solid rgba(255,255,255,0.18);
}

#card h3 {
    margin-top: 25px;
}

#button {
    margin-top: 20px;
}

#button button {
    margin: 0px;
    margin-right: 10px;
    border: none;
    padding: 15px;
    color: white;
    background-color: rgb(102, 114, 124);
    border-radius: 5px;
}